{% extends 'base_layout.html' %}
{% load static %}



{% block title %}  {% endblock %}

{% block content %}
    <div class="container get-account-container">
        <div class="row justify-content-md-center d-flex align-items-center">
            <div class="col-md-4 col-sm-12">
                <div class="row">
                    {% if game == 'league-of-legends' %}
                        <img class="game-logo" src="{% static 'img/league_of_legends_logo.png' %}">
                    {% elif game == 'valorant' %}
                        <img class="game-logo" src="{% static 'img/valorant_logo.png' %}">
                    {% elif game == 'fortnite' %}
                        <img class="game-logo" src="{% static 'img/fortnite_logo.png' %}">
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-12">
                        <form method="post" class="form-game-account">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="gameAccountName">Nazwa gracza</label>
                                <input type="text" id="gameAccountName" class="form-control"
                                       name="account_name" placeholder="Nazwa gracza" required
                                       autofocus>
                            </div>
                            <div class="mb-5">
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Dodaj</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}