{% extends 'base_layout.html' %}
{% load static %}
<!-- templates/application/home.html -->


{% block title %} Home page {% endblock %}

{% block content %}
    <div class="container home-container">
        <div class="row">
            <div class="col-md-6 col-sm-1  justify-content-center  d-flex align-items-center">
                <a href="{% url 'get_account' game='league-of-legends' %}">
                    <img class="game-logo" src="{% static 'img/league_of_legends_logo.png' %}">
                </a>
            </div>
            {#            <div class="col-md-6 col-sm-1  justify-content-center  d-flex align-items-center">#}
            {#                <a href="{% url 'get_account' game='valorant' %}">#}
            {#                    <img class="game-logo" src="{% static 'img/valorant_logo.png' %}">#}
            {#                </a>#}
            {#            </div>#}
            <div class="col-md-6 col-sm-1  justify-content-center  d-flex align-items-center">
                <a href="{% url 'get_account' game='fortnite' %}">
                    <img class="game-logo" src="{% static 'img/fortnite_logo.png' %}">
                </a>
            </div>
        </div>
    </div>
{% endblock %}