<!-- templates/base_layout.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" href="{% static 'libraries/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'libraries/css/fontawesome.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'libraries/css/brands.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'libraries/css/solid.min.css' %}"/>

    <link rel="stylesheet" href="{% static 'bundles/app.css' %}"/>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
{% block header %}
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <a class="navbar-brand" href="{% url 'home' %}">RecomTeam</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'groups' %}">Grupy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'invitations' %}">Zaproszenia</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right ">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ user.email }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Wyloguj się</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                            <i class="fa fa-user"></i> Zaloguj się
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">
                            <i class="fa fa-user-plus"></i> Zarejestruj się
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}

<div class="container-page">
    {% block content %}

    {% endblock %}
</div>


{% block footer %}
    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container">
            <span class="text-muted">Copyright ©2021</span>
        </div>
    </footer>

    <div class="app-alert-container">
        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock %}


{#  JavaScript #}
<script src="{% static 'libraries/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'libraries/js/popper.min.js' %}"></script>
<script src="{% static 'libraries/js/bootstrap.min.js' %}"></script>
<script src="{% static 'libraries/js/fontawesome.min.js' %}"></script>
<script src="{% static 'bundles/app.js' %}"></script>
</body>

</html>